@use "variables" as v;

@mixin respond-to($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container {
    width: min(100% - 32px, v.$container-max);
    margin-inline: auto;
}